@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

.boxShadow{
    box-shadow: 0 -2px 3px -3px black, 0 2px 3px -3px black;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
.listPadding{
    padding-top: 10px ;
    padding-bottom: 10px;
}
.listPaddingLeft{
    padding-left: 20px;
}
.alignCenter{
    width: 100%;
    text-align: center;
}
.maxWidth{
    width: 100%;
}
.backPage{
    padding: 4rem;
    background: #fff;
}
.select{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.editDeleteImg{
    cursor: pointer;
    max-width: 20px;
    max-height: 150px;
}
@media screen and (max-width: 500px) {
    .fullSizeList{
        display: none;
    }
}
