@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.fullsize{
    width: 100%;
}

.outsideContainer {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.studentInfoContainer{
    width: 80%;
    margin-top: 20px;
    min-height: 480px;
    position: relative;
    background: -webkit-linear-gradient(to right, #3890b3, #041524);
    background: linear-gradient(to right, #3890b3, #041524);
    border-radius: 16px ;
    border: 2px solid darkgrey;

}

.studentInfoInside{
    width: 80%;
    background: white;
    min-height: 460px;
    position: relative;
    border-radius: 16px ;
}

.contentTable{
    padding-top: 10%;
    width: 70%;

}
td{
    padding-top: 10px;
    text-align: center;
}